@using Newtonsoft.Json
@model IEnumerable<CampusOrdering.Models.Order>

@{
    ViewBag.Title = "Order List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Orders</title>
</head>
<body>
    <h2 class="text-center">Restaurant Orders</h2>
    <div class="d-flex justify-content-between m-3">
        <div class="filter">
            <a class="btn btn-outline-primary" asp-area="" asp-controller="Order" asp-action="Index">Served Orders</a>
        </div>
        <div class="search">
            <form method="post" asp-controller="Order" asp-action="SearchUnservedOrders">
                <input type="text" name="searchTerm" id="search-input" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>


    </div>

    <h3>Served Orders</h3>

    <table id="served-table" class="table table-bordered table-striped">
        <thead class="bg-primary text-light">
            <tr>
                <th>Order #</th>
                <th>Customer</th>
                <th>Items</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var order in Model)
            {
                @if (@order.isServed == true && order.isRemoved == false)
                {
                    <tr>
                        <td>@order.OrderId</td>
                        @if (order.purchasingUser != null)
                        {
                            <td>@order.purchasingUser.Name</td>
                        }
                        else
                        {
                            <td>@order.GuestName</td>
                        }
                        <td>
                            @if (!string.IsNullOrEmpty(order.JSONstring))
                            {
                                List<CartItem> cartItems = JsonConvert.DeserializeObject<List<CartItem>>(order.JSONstring);

                                foreach (var cartItem in cartItems)
                                {
                                    <div>
                                        @cartItem.MenuItemName - Price: @cartItem.Price, Quantity: @cartItem.Quantity
                                    </div>
                                }
                            }
                            else
                            {
                                <div>No items in the cart</div>
                            }
                        </td>
                        <td>@order.PurchaseDateTime</td>

                        <td><a asp-action="Delete" asp-route-id="@order.OrderId" class="btn btn-danger">Remove</a></td>

                    </tr>

                }
            }

        </tbody>
    </table>


</body>
</html>
