@model List<Restaurant>  
@using Microsoft.AspNetCore.Identity

<head>
    <link rel="stylesheet" href="~/css/menu.css" />
</head>


    <h1>Choose a Restaurant</h1>

        <div class="restaurant-list">
        @foreach (var restaurant in Model)
        {
            <div class="card">
                <a href="@Url.Action("Menu", "MenuItem", new { restID = restaurant.Id })">
                    <img src="@restaurant.LogoUrl" alt="@restaurant.Name" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">@restaurant.Name</h5>
                    </div>
                </a>
            </div>
        }
    </div>
    <div class="text-center">
    <a href="@Url.Action("Create", "Restaurant")" class="btn btn-primary">Create</a>
    </div>