
@model CampusOrdering.Models.Customer

<style>
    /* Custom CSS styles */
    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    dl.dl-horizontal {
        font-size: 16px;
        margin: 0;
    }

    dt {
        font-weight: bold;
    }

    dd {
        margin-left: 0;
    }

    a.btn-edit {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }

    a.btn-edit:hover {
        background-color: #0056b3;
    }
</style>

<div class="container">
    <h2>Customer Details</h2>

    
    <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd>@Model.Name</dd>
        <dt>Birthdate:</dt>
        <dd>@Model.Birthdate.ToShortDateString()</dd>
        <dt>Email:</dt>
        <dd>@Model.Email</dd>
    </dl>

    <a asp-action="Edit" asp-route-customerId="@Model.Id" class="btn-edit">Edit</a>
   @* <a asp-area="" asp-controller="Customer" asp-action="Edit" asp-route-customerId="@Model.Id">Account</a> *@
    }
</div>
