﻿@Model Restaurant
<head>
    <link rel="stylesheet" href="~/css/mycsstheme.css" />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center-content">
    <h2>Menu for @Model.Name</h2>

    <!-- Modal -->
    <div class="modal fade" id="itemDetailsModal" tabindex="-1" role="dialog" aria-labelledby="itemDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="itemDetailsModalLabel">Item Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="itemDetailsBody">
                    <!-- Content will be dynamically added here using JavaScript -->
                </div>
                <div class="modal-footer">
                    <!-- Buttons to change size -->
                    <button type="button" class="btn btn-primary" onclick="changeSize('small')">Small</button>
                    <button type="button" class="btn btn-primary" onclick="changeSize('medium')">Medium</button>
                    <button type="button" class="btn btn-primary" onclick="changeSize('large')">Large</button>
                    <button id="addToCartBtn" class="btn btn-outline-warning">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>

<div>
    <!-- Category tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" onclick="filterItems('All')">All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" onclick="filterItems('Drink')">Drink</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" onclick="filterItems('Dessert')">Dessert</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" onclick="filterItems('Entree')">Entree</a>
        </li>
    </ul>
</div>

<!-- Menu item cards -->
<div class="row menu-items">
    @foreach (var menuItem in Model.Menu)
    {
        <div class="col-md-4 mb-4">
            <!-- Wrap each menu item card in a container with fixed height -->
            <div class="card-container">
                <div class="card h-100 d-flex flex-column justify-content-between">
                    <img src="@menuItem.ImageUrl" class="card-img-top" alt="@menuItem.ItemName">
                    <div class="card-body">
                        <button type="button" class="btn btn-details"
                            data-name="@menuItem.ItemName"
                            data-calories="@menuItem.Calories"
                            data-price="@menuItem.Price"
                            data-size="@menuItem.Size"
                            data-image="@menuItem.ImageUrl"
                            data-id="@menuItem.Id"
                            data-category="@menuItem.Category"
                        >Details</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="text-center">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-outline-success" })
</div>
</div>

<!-- Include jQuery and Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>


<script>
    // JavaScript to handle the click event and populate modal content
    var name = "";
    var calories = 0;
    var price = 0.0;
    var size = "";
    var newPrice = 0.0;
    var newCal = 0;
    var cart = [];
    var menuItemId = 0;
    var imageUrl = "";

    $(document).ready(function () {
        $('.btn-details').on('click', function () {
            var $button = $(this);
            name = $button.data('name');
            calories = $button.data('calories');
            newCal = calories;
            price = parseFloat($button.data('price'));
            newPrice = price;
            size = $button.data('size');
            menuItemId = $button.data('id');
            image = $button.data('image');
            category = $button.data('category');

            // Update modal content dynamically
            updateModalContent();

            // Show the modal
            $('#itemDetailsModal').modal('show');
        });

        $('#addToCartBtn').on('click', function () {
            var menuItemId = $(this).data('id');
            var menuItemName = $(this).data('name');

            var cartItem = {
                MenuItemId: menuItemId,
                MenuItemName: name,
                Price: newPrice,
                Size: size,
                ImageURL: image,
                Quantity: 1
            };

            $.post('@Url.Action("AddToCart", "Cart")', cartItem, function (data) {
                console.log(data);
            });

            cart.push(cartItem);

            $('#itemDetailsModal').modal('hide');
        });

        // Attach click event handler to tab links
        $('.nav-link').on('click', function() {
    console.log('Tab clicked');
    var category = $(this).text(); // Get the category from the tab text
    filterItems(category); // Call the filterItems function with the selected category
});
    });

    function updateModalContent() {
        $('#itemDetailsBody').html(`
                    <p><strong>${name}</strong></p>
                    <p>Calories: ${newCal}</p>
                    <p>Price: $${newPrice.toFixed(2)}</p>
                    <p>Size: ${size}</p>
                    <p>Category: ${category}</p>
                `);
    }

    function filterItems(category) {
    $('.menu-items').children().each(function() {
        var $cardContainer = $(this);
        var cardCategory = $cardContainer.find('.btn-details').data('category');
        if (category === 'All' || cardCategory === category) {
            $cardContainer.show().appendTo('.menu-items');
        } else {
            $cardContainer.hide();
        }
    });
}



    function changeSize(newSize) {
        var baseCal = calories;
        var medCal = baseCal * 1.2;
        var largeCal = baseCal * 1.4;
        var basePrice = price;
        var medPrice = basePrice * 1.2;
        var largePrice = basePrice * 1.4;
        if (newSize === 'small') {
            newPrice = basePrice;
            newCal = baseCal;
        } else if (newSize === 'medium') {
            newPrice = medPrice;
            newCal = medCal;
        } else if (newSize === 'large') {
            newPrice = largePrice;
            newCal = largeCal;
        }

        // Update current size
        size = newSize;

        // Update modal content dynamically
        updateModalContent();
    }
</script>