@model Restaurant
<head>
    <link rel="stylesheet" href="~/css/mycsstheme.css" />
</head>

<div class="center-content">
    <h2>Menu for @Model.Name</h2>

    <!-- Modal -->
    <div class="modal fade" id="itemDetailsModal" tabindex="-1" role="dialog" aria-labelledby="itemDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="itemDetailsModalLabel">Item Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="itemDetailsBody">
                    <!-- Content will be dynamically added here using JavaScript -->
                </div>
                <div class="modal-footer">
                    <!-- Buttons to change size -->
                    <button type="button" class="btn btn-primary" onclick="changeSize('small')">Small</button>
                    <button type="button" class="btn btn-primary" onclick="changeSize('medium')">Medium</button>
                    <button type="button" class="btn btn-primary" onclick="changeSize('large')">Large</button>
                    <button id="addToCartBtn" class="btn btn-outline-warning">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>

    <ul class="list-unstyled">
        @foreach (var menuItem in Model.Menu)
        {
            <li class="media">
                <img src="@menuItem.ImageUrl" alt="@menuItem.ItemName" class="mr-3" width="200" height="200" data-name="@menuItem.ItemName" data-calories="@menuItem.Calories" data-price="@menuItem.Price" data-size="@menuItem.Size" />
            </li>
        }
    </ul>
</div>

<!-- Include jQuery and Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"></script>

<script>
    // JavaScript to handle the click event and populate modal content
    var name = "";
    var calories = 0;
    var price = 0.0;
    var size = "";
    var newPrice = 0.0;
    var newCal = 0;
    var cart = [];
    var menuItemId = 0;

    $(document).ready(function () {
        $('.media').on('click', function () {
            name = $(this).find('img').data('name');
            calories = $(this).find('img').data('calories');
            newCal = calories;
            price = parseFloat($(this).find('img').data('price'));
            newPrice = price;
            size = $(this).find('img').data('size');
            menuItemId = $(this).find('img').data('id');

            // Update modal content dynamically
            updateModalContent();

            // Show the modal
            $('#itemDetailsModal').modal('show');
        });

        $('#addToCartBtn').on('click', function () {
            var menuItemId = $(this).data('id');
            var menuItemName = $(this).data('name');

            var cartItem = {
                MenuItemId: menuItemId,
                MenuItemName: name,
                Price: newPrice,
                Size: size,
                Quantity: 1
            };

            $.post('@Url.Action("AddToCart", "Cart")', cartItem, function (data) {
                console.log(data);
            });

            cart.push(cartItem);

            $('#itemDetailsModal').modal('hide');
        });
    });

    function updateModalContent() {
        $('#itemDetailsBody').html(`
                    <p><strong>${name}</strong></p>
                    <p>Calories: ${newCal}</p>
                    <p>Price: $${newPrice.toFixed(2)}</p>
                    <p>Size: ${size}</p>
                `);
    }

    function changeSize(newSize) {
        var baseCal = calories;
        var medCal = baseCal * 1.2;
        var largeCal = baseCal * 1.4;
        var basePrice = price;
        var medPrice = basePrice * 1.2;
        var largePrice = basePrice * 1.4;
        if (newSize === 'small') {
            newPrice = basePrice;
            newCal = baseCal;
        } else if (newSize === 'medium') {
            newPrice = medPrice;
            newCal = medCal;
        } else if (newSize === 'large') {
            newPrice = largePrice;
            newCal = largeCal;
        }

        // Update current size
        size = newSize;

        // Update modal content dynamically
        updateModalContent();
    }

</script>
